<div class="container">
  <h1>Post a comment!</h1>
  <form action="/posts/<%= @post.id %>/comments" method="post">
    <div>
      <label for="message">Comment:</label>
      <textarea name="message" placeholder="Enter details here"></textarea>
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
